@tailwind base;
@tailwind components;
@tailwind utilities;

.bordergoogle {
    transition: all 2s ease-in;
    border: none;
}

.bordergoogle:hover {
    transition: all 2s ease-in;
    background: linear-gradient(
        91.74deg,
        #eb4335 4.35%,
        #fbbd04 24.39%,
        #34a953 51.42%,
        #4285f5 93.84%
    );
}
